@import '../css/variables.css';
@import '../css/layout.css';
@import '../css/components.css';
@import '../css/rtl.css';

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, Arial, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
